@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(24, 23, 23);
    align-items: center;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}

.vtNavBar {
    height: 100vh;
    position: fixed;
    width: 6%;
    z-index: 10;
    background-color: black;
    padding: 10px 5px 10px 5px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: -12px;
    margin-top: 0px;
    transition: all 0.2s ease-in;
}
.owaspDis{
    position: relative;
}
.Owasp-Bg {
    position: absolute;
    opacity: 0.2;
    top: 50px;
    width: 808px;
    right: 0px;
    transition: all 0.2s ease-in;
}
.NavBar{
    height: 10vh;
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    align-items: center;
    right: 5%;
    position: fixed;
}
.NavBar-lst{
    display: flex;
    font-size: 18px;
    flex: 1;
    list-style-type: none;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.NavBar li button{
    padding: 4px 15px;
    font-family: 'Sofia Sans', sans-serif;
    
}

.Owasp-Head {
    font-size: 130px;
    color: black;
    font-family: 'Source Code Pro', monospace;
    margin-left: 10%;
    padding-top: 50px;
}

.Owasp-Head2 {
    position: absolute;
    margin-left: 10%;
    font-size: 78px;
    margin-top: 130px;
    letter-spacing: 10px;
}

.pccoeHead {
    margin-top: -30px;
    margin-left: 15%;
}

.pccoe {
    margin-left: 15%;
    margin-top: 90px;
}

.stdChap {
    font-size: 55px;
    margin-left: 20%;
    margin-top: 35px;
    letter-spacing: 0.3px;
}

.text {
    width: 40vw;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 18px;
}

.contact-us {
    background-color: #dd3737;
    border-width: 0px;
    color: whitesmoke;
    height: 50px;
    width: 155px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.6s;
    padding: 10px 20px;
    margin-top: 30px;
}
.contact-us:hover {
    background-color: #d5b019;
    cursor: pointer;
}
.pic{
    position: fixed;
    height: 50px;
    width: 50px;
    left: 12px;
    transition: all 0.2s ease-in;
    z-index: 10;
}


.pic_1{
    bottom: 20px;
 
}

.pic_2{
    bottom: 90px;
    height: 45px;
    width: 45px;
    left: 16px;
}

.pic_3{
    bottom: 160px;
    left: 15px;
}

.pic_4{ 
    bottom: 230px;
}

.pic_1:hover,
.pic_2:hover,
.pic_3:hover,
.pic_4:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.wrapper:hover img{
    opacity: 1;
}

.wrapper img:hover{
    opacity:0.2 ;
}