@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(15, 15, 15);
    align-items: center;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}

.vtNavBar {
    height: 100vh;
    position: fixed;
    width: 6%;
    background-color: black;
    padding: 10px 5px 10px 5px;
}

.logo {
    width: 190px;
    height: 190px;
    margin-left: -50px;
    margin-top: -60px;
}
.owaspDis{
    position: relative;
}
.Owasp-Bg {
    position: absolute;
    opacity: 0.2;
    top: 50px;
    width: 808px;
    right: 20px;
}
.NavBar{
    height: 10vh;
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    align-items: center;
    right: 5%;
    position: fixed;
}
.NavBar-lst{
    display: flex;
    font-size: 18px;
    flex: 1;
    list-style-type: none;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.NavBar li button{
    padding: 4px 15px;
    font-family: 'Sofia Sans', sans-serif;
    
}

.Owasp-Head {
    font-size: 130px;
    color: black;
    font-family: 'Source Code Pro', monospace;
    margin-left: 10%;
}

.Owasp-Head2 {
    position: absolute;
    margin-left: 10%;
    font-size: 78px;
    margin-top: 90px;
}

.pccoeHead {
    margin-top: -30px;
    margin-left: 15%;
}

.pccoe {
    margin-left: 15%;
    margin-top: 60px;
}

.stdChap {
    font-size: 55px;
    margin-left: 20%;
    margin-top: 30px;
    letter-spacing: 0.3px;
}

.text {
    width: 40vw;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 18px;
}

.contact-us {
    background-color: #dd3737;
    border-width: 0px;
    color: whitesmoke;
    height: 50px;
    width: 155px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.6s;
    padding: 10px 20px;
    margin-top: 20px;
}
.contact-us:hover {
    background-color: #d5b019;
}